@media screen and (max-width: 1030px) {
  body {
    background: url(../images/bg1030.jpg) no-repeat left top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}

@media screen and (min-width: 1031px) and (max-width: 1300px) {
  body {
    background: url(../images/bg1300.jpg) no-repeat left top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1380px) {
  body {
    background: url(../images/bg1380.jpg) no-repeat left top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}

@media screen and (min-width: 1381px) and (max-width: 1460px) {
  body {
    background: url(../images/bg1460.jpg) no-repeat left top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}

@media screen and (min-width: 1461px) and (max-width: 1700px) {
  body {
    background: url(../images/bg1700.jpg) no-repeat left top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}

@media screen and (min-width: 1701px) {
  body {
    background: url(../images/bg1920.jpg) no-repeat left top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}
