@font-face {
  font-family: 'proxima-nova-bold';
  src: url('../fonts/ProximaNova-Bold.otf');
  src: local('☺'),
    url('../fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'proxima-nova-light';
  src: url('../fonts/ProximaNova-Light.otf');
  src: local('☺'),
    url('../fonts/ProximaNova-Light.otf') format('opentype');
}
